

.login-section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 350px;
}

.login-section ion-item {
    background: transparent;
    border: none;
}

.login-section .item-inner{
    border-bottom: none !important;
}

.login-section input{
    background: #fff;
    border-radius: 15px;
    border: 1px solid #e1e1e1;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none !important;
}

.login-section .item-md.item-input.item-input-has-focus .item-inner,
.login-section .item-md.item-input.input-has-focus .item-inner {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.login-section h5{
    color: #23225a;
}

.login-section .forget-password a, .login-section .new-account a{
    color: #a3a3a3;
}


.login-section .new-account a span{
    color: #23225a;
}

.login-section .text-input-md {
    margin: 8px;
}