<ion-header>

    <ion-toolbar class="reg-blue">
        <ion-title>حسابي</ion-title>


    </ion-toolbar>


    <ion-toolbar class="reg-blue no-v-padding" padding>
        <h2 class="yellow-text toolbar-user-name">{{userInfo.name}}</h2>
        <h6 class="white-text toolbar-mempership-number">رقم العضوية : #{{userInfo.id}}</h6>
    </ion-toolbar>

    <ion-toolbar class="dark-blue header-tabs no-v-padding">
        <ion-grid class="no-v-padding">
            <ion-row>
                <ion-col col-3>
                    <a href="#" (click)="goToPage(MessagesPage)">
                        <ion-icon name="text"></ion-icon>
                        <span>الرسائل</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" class="active-tab" (click)="goToPage(MyDonationsPage)">
                        <ion-icon name="wheat"></ion-icon>
                        <span>مساهماتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyCasesPage)">
                        <ion-icon name="ios-document"></ion-icon>
                        <span>حالاتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(SettingsPage)">
                        <ion-icon name="md-settings"></ion-icon>
                        <span>الاعدادات</span>
                    </a>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>

</ion-header>

<ion-content class="light-gray-bg small-padding">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <h3 *ngIf="myDonations.length == 0" style="text-align: center">{{message}}</h3>
        <div *ngIf="myDonations.length > 0">
            <ion-card *ngFor="let donation of myDonations" class="case-card-container">
                <ion-card-content>
                    <h2 *ngIf="donation.dbay_case">{{donation.dbay_case.title}}</h2>
                    <h4>رقم الحالة : {{donation.case_id}}</h4>
                    <h4>رقم المساهمة : {{donation.id}}</h4>
                    <ion-grid>
                        <h3 class="success" *ngIf="donation.status == 2">
                            <ion-icon name="ios-checkmark-circle"></ion-icon>
                            تمت المساهمة لهذة الحالة بتاريخ
                        </h3>
                        <h3 *ngIf="donation.status == 1">
                            <ion-icon name="ios-close-circle"></ion-icon>
                            تم رفض الحالة
                        </h3>
                        <h3 *ngIf="donation.status == 0">
                            <ion-icon name="ios-more"></ion-icon>
                            قيد المراجعة
                        </h3>
                        <h3 class="success" *ngIf="donation.status == 2">{{donation.created_at}}</h3>
                        <h3 *ngIf="donation.status != 2">تاريخ المساهمة : {{donation.created_at}}</h3>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>
        <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>