<ion-tabs id="tabs">
    <ion-tab tabIcon="md-home" tabTitle="الرئيسية" [root]="newsFeed" swipeBackEnabled="true"></ion-tab>
    <ion-tab tabIcon="wheat" tabTitle="ساهم" [root]="tab2Root" swipeBackEnabled="true"></ion-tab>
    <ion-tab tabIcon="wheatoutline" tabTitle="تسجيل حالة" [root]="CreateCasePage" swipeBackEnabled="true"></ion-tab>
    <ion-tab tabIcon="ios-person" tabTitle="حسابي" [root]="messagesPage" swipeBackEnabled="true"></ion-tab>
    <ion-tab tabIcon="ios-menu" tabTitle="القائمة" [root]="menuTap" swipeBackEnabled="true"></ion-tab>
</ion-tabs>

