<ion-header>
    <ion-toolbar>
        <ion-title>اخر الحالات</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="light-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <img src="assets/imgs/news_feed_header.jpg">

        <div padding>
            <ion-item>
                <ion-label>اختر القسم</ion-label>
                <ion-select okText="موافق" cancelText="الغاء" [(ngModel)]="choosedCategory" (ionChange)='chooseCategory(choosedCategory)'>
                    <ion-option [value]="category.id" *ngFor="let category of categories">{{category.name_ar}}</ion-option>
                </ion-select>
            </ion-item>
        </div>
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="small-padding">
            <div *ngFor="let item of allCases">
                <ion-card class="case-card-container" (click)="goToCase(item.id)">
                    <ion-card-content>
                        <h2>{{item.title}}</h2>
                        <h4>رقم الحالة : {{item.id}}</h4>
                        <p>{{item.details | limitTo: 110}}</p>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-5>
                                    <ion-icon name="md-navigate"></ion-icon>
                                    <span *ngIf="!item.same_address">{{item.city_name.name_ar}} - {{item.address_area}}</span>
                                    <span *ngIf="item.same_address">{{item.get_user.city_name.name_ar}} - {{item.get_user.area}}</span>
                                </ion-col>
                                <ion-col col-7>
                                    <ion-icon name="md-pricetag"></ion-icon>
                                    <span>{{item.category_name.name_ar}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>