<ion-header>

    <ion-toolbar class="reg-blue">
        <ion-title>حسابي</ion-title>


        <ion-buttons end>
            <button ion-button icon-only color="gray" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>


    <ion-toolbar class="reg-blue no-v-padding" padding>
        <h2 class="yellow-text toolbar-user-name">{{userInfo.name}}</h2>
        <h6 class="white-text toolbar-mempership-number">رقم العضوية : #{{userInfo.id}}</h6>
    </ion-toolbar>

    <ion-toolbar class="dark-blue header-tabs no-v-padding">
        <ion-grid class="no-v-padding">
            <ion-row>
                <ion-col col-3>
                    <a href="#" class="active-tab" (click)="goToPage(MessagesPage)">
                        <ion-icon name="text"></ion-icon>
                        <span>الرسائل</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyDonationsPage)">
                        <ion-icon name="wheat"></ion-icon>
                        <span>مساهماتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyCasesPage)">
                        <ion-icon name="ios-document"></ion-icon>
                        <span>حالاتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(SettingsPage)">
                        <ion-icon name="md-settings"></ion-icon>
                        <span>الاعدادات</span>
                    </a>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>

</ion-header>


<ion-content class="light-gray-bg small-padding" class="dark-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <div class="msg-container" padding>

            <h3>{{message.subject}}</h3>

            <ion-card>
                <ion-card-content>
                    <p>{{message.messages[0].content}}</p>
                </ion-card-content>
            </ion-card>

        </div>
    </div>
</ion-content>