<ion-header>

    <ion-toolbar class="reg-blue">
        <ion-title>حسابي</ion-title>

    </ion-toolbar>


    <ion-toolbar class="reg-blue no-v-padding" padding>
        <h2 class="yellow-text toolbar-user-name">{{userInfo.name}}</h2>
        <h6 class="white-text toolbar-mempership-number">رقم العضوية : #{{userInfo.id}}</h6>
    </ion-toolbar>

    <ion-toolbar class="dark-blue header-tabs no-v-padding">
        <ion-grid class="no-v-padding">
            <ion-row>
                <ion-col col-3>
                    <a href="#" (click)="goToPage(MessagesPage)">
                        <ion-icon name="text"></ion-icon>
                        <span>الرسائل</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyDonationsPage)">
                        <ion-icon name="wheat"></ion-icon>
                        <span>مساهماتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" class="active-tab" (click)="goToPage(MyCasesPage)">
                        <ion-icon name="ios-document"></ion-icon>
                        <span>حالاتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(SettingsPage)">
                        <ion-icon name="md-settings"></ion-icon>
                        <span>الاعدادات</span>
                    </a>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>

</ion-header>


<ion-content class="light-gray-bg small-padding">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-card>
            <ion-card-content>
              <p>يمكنك استقبال مساهمات حتي  <span style="font-weight:bold;">{{credit}}</span> ريال سعودي</p>
            </ion-card-content>
        </ion-card>
        <h3 *ngIf="myCases.length == 0" style="text-align: center">{{message}}</h3>
        <div *ngIf="myCases.length > 0">
            <ion-card *ngFor="let case of myCases" class="case-card-container">
                <ion-card-content>
                    <h2>{{case.title}}</h2>
                    <ion-grid>

                        <ion-row>
                            <ion-col col-6>
                                <h4>رقم الحالة : {{case.id}}</h4>
                            </ion-col>

                            <ion-col col-6>
                                <h3 *ngIf="case.status == 2" class="success">
                                    <ion-icon name="ios-checkmark-circle"></ion-icon>
                                    تم قبول الحالة
                                </h3>
                                <h3 *ngIf="case.status == 1"><ion-icon name="ios-close-circle"></ion-icon>
                                    تم رفض الحالة </h3>
                                <h3 *ngIf="case.status == 0"><ion-icon name="ios-more"></ion-icon>   قيد المراجعة </h3>
                                <h3 *ngIf="case.status == 3"><ion-icon name="ios-close-circle"></ion-icon>   الحالة مغلقة </h3>
                            </ion-col>

                            <ion-col col-6>
                                <button ion-button icon-right class="blue-btn-link" (click)="editCase(case)">
                                    <ion-icon name="md-create"></ion-icon>
                                    <span>تعديل</span>
                                </button>
                            </ion-col>

                            <ion-col col-6>
                                <button *ngIf="case.status != 3" ion-button icon-right class="blue-btn-link" (click)="closeCase(case.id)">
                                    <ion-icon name="md-close"></ion-icon>
                                    <span>اغلاق الحاله</span>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>
        <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>