<ion-header>

    <ion-toolbar class="reg-blue">
        <ion-title>حسابي</ion-title>
    </ion-toolbar>


    <ion-toolbar class="reg-blue no-v-padding" padding>
        <h2 class="yellow-text toolbar-user-name">{{userInfo.name}}</h2>
        <h6 class="white-text toolbar-mempership-number">رقم العضوية : #{{userInfo.id}}</h6>
    </ion-toolbar>

    <ion-toolbar class="dark-blue header-tabs no-v-padding">
        <ion-grid class="no-v-padding">
            <ion-row>
                <ion-col col-3>
                    <a href="#" (click)="goToPage(MessagesPage)">
                        <ion-icon name="text"></ion-icon>
                        <span>الرسائل</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyDonationsPage)">
                        <ion-icon name="wheat"></ion-icon>
                        <span>مساهماتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyCasesPage)">
                        <ion-icon name="ios-document"></ion-icon>
                        <span>حالاتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" class="active-tab" (click)="goToPage(SettingsPage)">
                        <ion-icon name="md-settings"></ion-icon>
                        <span>الاعدادات</span>
                    </a>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>

</ion-header>


<ion-content class="small-padding">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <form [formGroup]="form" (ngSubmit)="editProfile()">
            <ion-grid>

                <ion-row>
                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item>
                            <ion-label floating>
                                <ion-icon name="lock"></ion-icon>
                                الاسم
                            </ion-label>
                            <ion-input formControlName="name" type="text" disabled></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item>
                            <ion-label floating>
                                <ion-icon name="lock"></ion-icon>
                                البريد الالكتروني
                            </ion-label>
                            <ion-input formControlName="email" type="text" disabled></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item>
                            <ion-label floating>المدينة</ion-label>
                            <ion-select formControlName="city" type="text" okText="اذهب" cancelText="رجوع">
                                <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name_ar}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating>المنطقة</ion-label>
                            <ion-input formControlName="area" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating>الشارع</ion-label>
                            <ion-input formControlName="street" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating>الهاتف المحمول</ion-label>
                            <ion-input formControlName="phone" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                </ion-row>
            </ion-grid>

            <div text-left>
                <button type="submit" class="blue-btn save-personal-info">حفظ</button>
            </div>
        </form>

        <h5 class="change-pwd-text">تغيير كلمة المرور</h5>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <ion-grid>
                <ion-row>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label for="old-pass" floating>كلمة المرور القديمة</ion-label>
                            <ion-input formControlName="old_password" type="password" id="old-pass"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating>كلمة المرور الجديدة</ion-label>
                            <ion-input formControlName="password" type="password"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating> تأكيد كلمة المرور</ion-label>
                            <ion-input formControlName="password_confirmation" type="password"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div text-left>
                <button type="submit" class="blue-btn save-personal-info">حفظ</button>
            </div>
        </form>
        <br>

        <ion-grid>
            <ion-row>
                <h5>تعطيل الحساب</h5>
                <p>في حالة تعطيل حسابك سوف يتم اخفاء جميع الحالات الخاصة بك وبمجرد تسجيل دخولك مرة اخري سوف يتم ارجاع حسابك
                    واظهار جميع حالاتك مرة اخري</p>
                <ion-col col-12>
                    <ion-item>
                        <ion-label>تعطيل حسابي</ion-label>
                        <ion-toggle color="dark-blue" [(ngModel)]="canDisableAccount"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div text-left>
            <button (click)="deactivateProfile(canDisableAccount)" class="blue-btn save-personal-info">تعطيل</button>
        </div>
    </div>
</ion-content>