<ion-header>
    <ion-toolbar>
        <ion-title>استعادة كلمة المرور</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding text-center class="light-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <div class="login-section">
            <img src="assets/imgs/logo.png">
            <p>في حالة نسيان كلمة المرور يمكنك استعادتها من خلال هذا النموذج لتصلك رسالة بها تفاصيل كلمة المرور الجديدة</p>
            <form [formGroup]="form" (ngSubmit)="resetPass()">
                <ion-item mode="ios">
                    <ion-input formControlName="email" type="email"
                               placeholder="ادخل البريد الالكترون المسجل لدينا"></ion-input>
                </ion-item>
                <button type="submit" ion-button class="blue-btn">متابعة</button>
            </form>
        </div>
    </div>
</ion-content>
