<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>{{category.name_ar}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="light-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="small-padding">
            <div *ngFor="let item of cases">
                <ion-card class="case-card-container" (click)="goToCase(item.id)">
                    <ion-card-content>
                        <h2>{{item.title}}</h2>
                        <h4>رقم الحالة : {{item.id}}</h4>
                        <p>{{item.details | limitTo: 110}}</p>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-12>
                                    <ion-icon name="md-navigate"></ion-icon>
                                    <span *ngIf="item.city_name">{{item.city_name.name_ar}} - {{item.address_area}}</span>
                                    <span *ngIf="!item.city_name">{{city}} - {{area}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-infinite-scroll *ngIf="hasMore" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>