<ion-header>
    <ion-toolbar class="dark-blue">
        <ion-title>تسجيل حالة جديدة</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="light-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <div class="padding">
            <form [formGroup]="form" (ngSubmit)="createCase()">
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">* </span>ادخل عنوان مختصر عن الحالة</ion-label>
                    <ion-textarea formControlName="title"></ion-textarea>
                </ion-item>
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">* </span>ادخل تفاصيل الحالة</ion-label>
                    <ion-textarea formControlName="details"></ion-textarea>
                </ion-item>
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">* </span>نوع الحالة</ion-label>
                    <ion-select formControlName="category" okText="موافق" cancelText="الغاء" >
                        <ion-option *ngFor="let category of categories" [value]="category.id">{{category.name_ar}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item mode="ios">
                    <ion-label floating>مكان الحالة</ion-label>
                    <ion-select formControlName="same_address" okText="موافق" cancelText="الغاء"  (ionChange)='chooseAddressType(form.value.same_address)'>
                        <ion-option [value]="1">نفس عنوان الملف الشخصي</ion-option>
                        <ion-option [value]="0">عنوان اخر</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating><span class="required-star">* </span>المدينة</ion-label>
                    <ion-select formControlName="address_city" type="text" okText="موافق" cancelText="الغاء" >
                        <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name_ar}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating><span class="required-star">* </span>المنطقة</ion-label>
                    <ion-input formControlName="address_area" type="text"></ion-input>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating><span class="required-star">* </span>الشارع</ion-label>
                    <ion-input formControlName="address_street" type="text"></ion-input>
                </ion-item>

                <ion-item mode="ios">
                    <p>ارفاق صور</p>
                    <a class="attach-imgs" (click)="takePhoto()">
                        <ion-icon name="camera"></ion-icon>
                    </a>
                </ion-item>

                <ion-card *ngIf="images.length > 0">
                    <ion-card-header>الصورة</ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 col-md-3 col-lg-4 *ngFor="let image of images" class="new-uploaded-image">
                                    <img [src]="image"/>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <br>
                <div text-center>
                    <button type="submit" class="blue-btn create-case-submit">ارسال الحالة للمراجعة</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</ion-content>