<ion-header>
    <ion-toolbar>
        <ion-title>عرض الحالة</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="light-gray-bg" swipeBackEnabled="true">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <div class="small-padding">

            <div padding>
                <h3 class="case-title">{{singleCase.title}}</h3>
                <h6 class="case-number">رقم الحالة # {{singleCase.id}}</h6>
                <p class="case-details">{{singleCase.details}}</p>
                <div class="case-attrs">
                    <ion-icon name="md-navigate"></ion-icon>
                    <span *ngIf="!singleCase.same_address">{{singleCase.city_name?.name_ar}} - {{singleCase.address_area}}</span>
                    <span *ngIf="singleCase.same_address">{{singleCase.get_user?.area}} - {{singleCase.get_user?.city_name.name_ar}}</span>
                    <br>
                    <ion-icon name="md-pricetag"></ion-icon>
                    <span>{{singleCase.category_name?.name_ar}}</span>
                </div>

                <div class="attachments-container" *ngIf="singleCase.attachments.length > 0">
                    <h4>صور مرفقة</h4>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 *ngFor="let image of singleCase.attachments">
                                <img [src]="endpoint + image.name" imageViewer>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

                <div *ngIf="!hideButtons" class="dontate-now-container">
                    <button ion-button class="blue-btn donate-now" (click)="canSendMessage = !canSendMessage">
                        مراسلة صاحب الحالة                </button>
                </div>

                <form *ngIf="canSendMessage" [formGroup]="form" (ngSubmit)="sendMessage()" text-center>
                    <ion-item>
                        <ion-label floating>محتوي الرسالة</ion-label>
                        <ion-textarea formControlName="content"></ion-textarea>
                    </ion-item>
                    <br>
                    <button type="submit" class="blue-btn create-case-submit">ارسال</button>
                </form>

                <div *ngIf="!hideButtons" class="dontate-now-container">
                    <button ion-button class="blue-btn donate-now" (click)="donate()">
                        <ion-icon name="wheat"></ion-icon>
                        ساهم الان
                    </button>
                </div>

                <hr>

                <h4 class="related-cases-title">شاهد حالات اخري</h4>

            </div>
            <div *ngFor="let catCase of catCases; let i=index">
                <ion-card class="case-card-container" *ngIf="i < 5" (click)="goToCase(catCase.id)">
                    <ion-card-content>
                        <h2>{{catCase.title}}</h2>
                        <h4>رقم الحالة : {{catCase.id}}</h4>
                        <p>{{catCase.details | limitTo: 110}}
                        </p>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-5>
                                    <ion-icon name="md-navigate"></ion-icon>
                                    <span *ngIf="!catCase.same_address">{{catCase.city_name.name_ar}} - {{catCase.address_area}}</span>
                                    <span *ngIf="catCase.same_address">{{catCase.get_user.city_name.name_ar}} - {{catCase.get_user.area}}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>