<ion-header>

    <ion-navbar hideBackButton>
        <ion-title left>تعديل الحالة</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="light-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <div class="padding">
            <form [formGroup]="form" (ngSubmit)="editCase()">
                <ion-item mode="ios">
                    <ion-label floating>ادخل عنوان مختصر عن الحالة</ion-label>
                    <ion-textarea formControlName="title"></ion-textarea>
                </ion-item>
                <ion-item mode="ios">
                    <ion-label floating>ادخل تفاصيل الحالة</ion-label>
                    <ion-textarea formControlName="details"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label floating>نوع الحالة</ion-label>
                    <ion-select formControlName="category" okText="موافق" cancelText="الغاء">
                        <ion-option *ngFor="let category of categories" [value]="category.id">{{category.name_ar}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label floating>مكان الحالة</ion-label>
                    <ion-select formControlName="same_address" okText="موافق" cancelText="الغاء" (ionChange)='chooseAddressType(form.value.same_address)'>
                        <ion-option [value]="1">نفس عنوان الملف الشخصي</ion-option>
                        <ion-option [value]="0">عنوان اخر</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="whichAddress == 0">
                    <ion-label floating>المدينة</ion-label>
                    <ion-select formControlName="address_city" value="info@cyan.boutique" type="text" okText="موافق" cancelText="الغاء">
                        <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name_ar}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating>المنطقة</ion-label>
                    <ion-input formControlName="address_area" type="text"></ion-input>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating>الشارع</ion-label>
                    <ion-input formControlName="address_street" type="text"></ion-input>
                </ion-item>

                <div class="attachments-container edit-old-images" *ngIf="oldImages">
                    <h4>الصورة</h4>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 *ngFor="let image of oldImages; let i = index">
                                <div class="remove-btn" ion-button icon-only (click)="deleteImage(image, i)"><ion-icon name="ios-trash-outline"></ion-icon></div>
                                <img [src]="endpoint + image.name" imageViewer>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

                <ion-item>
                    <p>ارفاق صور</p>
                    <a class="attach-imgs" (click)="takePhoto()">
                        <ion-icon name="camera"></ion-icon>
                    </a>
                </ion-item>

                <ion-card *ngIf="newImages.length > 0">
                    <ion-card-header>الصورة</ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 col-md-3 col-lg-4 *ngFor="let image of newImages" class="new-uploaded-image">
                                    <img [src]="image"/>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <br>

                <div text-center>
                    <button type="submit" class="blue-btn create-case-submit">ارسال الحالة للمراجعة</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</ion-content>
