<ion-header>
    <ion-navbar hideBackButton class="bg-blue">
        <ion-title>مساهمة جديدة</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="light-gray-bg donate-page">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <div class="padding">
            <form [formGroup]="form" (ngSubmit)="createDonation()">
                <ion-item>
                    <div text-center>
                        <img src="assets/imgs/donate_img.png" class="donate-img">
                    </div>
                    <p *ngIf="!isDirectDonate">انت تساهم للحالة رقم: <span>{{caseObject.id}}</span></p>
                    <p *ngIf="!isDirectDonate">بعنوان : <span>{{caseObject.title}}</span></p>
                    <p *ngIf="isDirectDonate">انت الان تترك عملية اختيار الحالة لفريق دي باي</p>
                </ion-item>
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">* </span>ادخل التفاصيل الكاملة عن مساهمتك</ion-label>
                    <ion-textarea formControlName="comment"></ion-textarea>
                </ion-item>
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">* </span>اليوم المفضل للأتصال بك</ion-label>
                    <ion-datetime formControlName="recommended_date_time" displayFormat="MM/DD/YYYY" min="2017" max="2070-10-31" cancelText="الغاء" doneText="موافق"></ion-datetime>
                </ion-item>
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">* </span>الوقت المفضل للأتصال بك</ion-label>
                    <ion-datetime formControlName="recommended_date_time" displayFormat="HH:mm" cancelText="الغاء" doneText="موافق"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label floating>مكان الألتقاط</ion-label>
                    <ion-select okText="موافق" cancelText="الغاء" formControlName="same_address" (ionChange)='chooseAddressType(form.value.same_address)'>
                        <ion-option [value]="1">نفس عنوان الملف الشخصي</ion-option>
                        <ion-option [value]="0">عنوان اخر</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="whichAddress == 0">
                    <ion-label floating><span class="required-star">* </span>المدينة</ion-label>
                    <ion-select formControlName="address_city" type="text" okText="موافق" cancelText="الغاء" >
                        <ion-option *ngFor="let city of cities"  [value]="city.id">{{city.name_ar}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating><span class="required-star">* </span>المنطقة</ion-label>
                    <ion-input formControlName="address_area" type="text"></ion-input>
                </ion-item>

                <ion-item mode="ios" *ngIf="whichAddress == 0">
                    <ion-label floating><span class="required-star">* </span>الشارع</ion-label>
                    <ion-input formControlName="address_street" type="text"></ion-input>
                </ion-item>


                <ion-item>
                    <p>ارفاق صور</p>
                    <a class="attach-imgs" (click)="takePhoto()">
                        <ion-icon name="camera"></ion-icon>
                    </a>
                </ion-item>
                <ion-card *ngIf="images.length > 0">
                    <ion-card-header>الصورة</ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 col-md-3 col-lg-4 *ngFor="let image of images" class="new-uploaded-image">
                                    <img [src]="image"/>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
                <br>

                <div text-center>
                    <button class="blue-btn create-case-submit">ساهم الأن</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</ion-content>