
ion-content.menu-page button ion-icon{
    color: #2f2d78;
}

ion-content.menu-page{
    background: #f8f8f8 !important;
}

ion-content.menu-page button span{
    margin-right: 15px;
     color: #747474 !important;
    }

ion-content.menu-page ion-list-header {
    background: #ffffff !important;
    margin-bottom: 26px !important;
    margin-top: 26px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}